$white:                      #FFFFFF;
$light-blue:                 #38AEF0;
$alert_orange:               #F35500;
$sidebar_header_color:       #253141;
$sidebar_groups_color:       #2f3e51;
$header_color:               #FFFFFF;
$header_name_color:          #333333;
$header_members_color:       #999999;
$messages_color:             #FAFAFA;
$messages_username_color:    #434A54;
$messages_date_color:        #999999;
$messages_content_color:     #434A54;
$form_color:                 #DDDDDD;
$form_image_icon_color:      #434A54;
