$sidebar_header_name:       16px;
$sidebar_header_icon:       20px;
$sidebar_groups_name:       15px;
$sidebar_groups_message:    11px;
$header_name:               20px;
$header_members:            12px;
$messages_username:         16px;
$messages_date:             12px;
$messages_content:          14px;
$form_placeholder:          16px;
$form_image_icon:           20px;
$form_submit:               16px;
